# Ignorar las carpetas generadas por NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignorar archivos de configuración generados por NetBeans
nbproject/Makefile-*
nbproject/configs/
nbproject/genfiles.properties
nbproject/project.properties
*.orig
*.log

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de compilación
*.class
*.jar
*.war
*.ear

# Ignorar archivos de configuración de IntelliJ IDEA (si alguien usa este IDE)
.idea/
*.iml

# Ignorar archivos de Maven (si es un proyecto Maven)
target/

# Ignorar archivos de Gradle (si es un proyecto Gradle)
.gradle/
build/

# Ignorar archivos de configuración de NetBeans (si utilizas Gradle con NetBeans)
nbproject/build-impl.xml
nbproject/project.xml
build/
nbbuild/
nbdist/

# Ignorar archivos de configuración de Eclipse (si algún desarrollador usa Eclipse)
.project
.classpath
.settings/

# Ignorar archivos de empaquetamiento de Windows
*.zip
*.tar.gz
*.tar.bz2
*.7z
/NetBeansProjectLab6/PapucplanetGestionUsuarioDA/nbproject/private/
/NetBeansProjectLab6/PapucplanetComprasModel/nbproject/private/
/NetBeansProjectLab6/PapucplanetConfiteriaModel/nbproject/private/
/NetBeansProjectLab6/PapucplanetGestionUsuarioModel/nbproject/private/
/NetBeansProjectLab6/Papucplanet/nbproject/private/
*/nbproject/private/
