<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FuncionWSPortBinding" receiveTimeout="00:01:00"
          sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
        <binding name="PeliculaWSPortBinding" receiveTimeout="00:01:00"
          sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
        <binding name="SedeWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00"
          maxReceivedMessageSize="2147483647" />
        <binding name="BebidaWSPortBinding" receiveTimeout="00:01:00"
          sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
        <binding name="ButacaFuncionWSPortBinding" receiveTimeout="00:01:00"
          sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
        <binding name="ButacaWSPortBinding" receiveTimeout="00:01:00"
          sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
        <binding name="SalaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00"
          maxReceivedMessageSize="2147483647" />
        <binding name="AlimentoWSPortBinding" receiveTimeout="00:01:00"
          sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
        <binding name="ClienteWSPortBinding" />
        <binding name="AdministradorWSPortBinding" />
        <binding name="BoletaWSPortBinding" maxReceivedMessageSize="2147483647" />
        <binding name="LineaBoletaWSPortBinding" maxReceivedMessageSize="2147483647" />
        <binding name="CuentaWSPortBinding" />
		 <binding name="ReporteWSPortBinding"  receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/PapucplanetWSBL/ButacaWS"
        binding="basicHttpBinding" bindingConfiguration="ButacaWSPortBinding"
        contract="Servicio.ButacaWS" name="ButacaWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/ButacaFuncionWS"
        binding="basicHttpBinding" bindingConfiguration="ButacaFuncionWSPortBinding"
        contract="Servicio.ButacaFuncionWS" name="ButacaFuncionWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/BebidaWS"
        binding="basicHttpBinding" bindingConfiguration="BebidaWSPortBinding"
        contract="Servicio.BebidaWS" name="BebidaWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/ClienteWS"
        binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding"
        contract="Servicio.ClienteWS" name="ClienteWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/AdministradorWS"
        binding="basicHttpBinding" bindingConfiguration="AdministradorWSPortBinding"
        contract="Servicio.AdministradorWS" name="AdministradorWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/BoletaWS"
        binding="basicHttpBinding" bindingConfiguration="BoletaWSPortBinding"
        contract="Servicio.BoletaWS" name="BoletaWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/SedeWS"
        binding="basicHttpBinding" bindingConfiguration="SedeWSPortBinding"
        contract="Servicio.SedeWS" name="SedeWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/PeliculaWS"
        binding="basicHttpBinding" bindingConfiguration="PeliculaWSPortBinding"
        contract="Servicio.PeliculaWS" name="PeliculaWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/LineaBoletaWS"
        binding="basicHttpBinding" bindingConfiguration="LineaBoletaWSPortBinding"
        contract="Servicio.LineaBoletaWS" name="LineaBoletaWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/CuentaWS"
        binding="basicHttpBinding" bindingConfiguration="CuentaWSPortBinding"
        contract="Servicio.CuentaWS" name="CuentaWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/FuncionWS"
        binding="basicHttpBinding" bindingConfiguration="FuncionWSPortBinding"
        contract="Servicio.FuncionWS" name="FuncionWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/ReporteWS"
        binding="basicHttpBinding" bindingConfiguration="ReporteWSPortBinding"
        contract="Servicio.ReporteWS" name="ReporteWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/SalaWS"
        binding="basicHttpBinding" bindingConfiguration="SalaWSPortBinding"
        contract="Servicio.SalaWS" name="SalaWSPort" />
      <endpoint address="http://localhost:8080/PapucplanetWSBL/AlimentoWS"
        binding="basicHttpBinding" bindingConfiguration="AlimentoWSPortBinding"
        contract="Servicio.AlimentoWS" name="AlimentoWSPort" />
    </client>
  </system.serviceModel>
</configuration>