html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100%;
}

#bdSidebar {
    background-color: #fafafa !important;
}

h3 {
    color: #000000;
}

.mynav .nav-item :hover {
    background-color: #fddbdb; /* Color de fondo al pasar el mouse, ajusta según el diseño  de la side bar*/
}

.mynav .nav-item a {
    padding: 30px 35px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.enlace-hover:hover {
    color: #8B0000 !important; /* Cambia a un tono de morado cuando se pasa el cursor en el enlace */
}

a, i {
    text-decoration: none !important;
}

.bg-custom {
    background-color: #f6f3f3 !important; /* Color lila claro*/
    border: 6px solid #8B0000 !important;
}

.custom-width-card {
    width: 65% !important;
}

.custom-body-card {
    color: black !important;
}

.btn-purple {
    background-color: #8B0000; /* Color morado */
    color: white;
    border: 1px solid #7153f2;
}

    .btn-purple:hover {
        background-color: #8B0000; /* Un tono más oscuro para el hover */
        border-color: #8B0000;
        color: white;
    }

.card-header-colored {
    border-bottom: 3px solid #8B0000; /* Cambia el color a tu preferencia */
    background-color: #ffffff; /* Fondo blanco */
}

.card.no-border {
    border: none; /* Quita todos los bordes de la tarjeta */
    box-shadow: none; /* Opcional: quita la sombra de la tarjeta si la tiene */
}

.text-red {
    text-decoration: none;
    color: #8B0000; /* Personaliza el color */
}

.text-red:hover {
    text-decoration: underline; /* Opcional: subrayado al pasar el mouse */
    color: #6A0000; /* Color al pasar el mouse */
}

.btn-sede {
    background-color: #8B0000 !important; /* Color de fondo */
    color: white !important; /* Color del texto */
    border: none;
    border-radius: 10px; /* Borde redondeado */
    padding: 9px 30px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
}

.pagination-container {
    text-align: center;
    margin-top: 15px;
}

.pagination-container a, .pagination-container span {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 12px;
    color: #8B0000; /* Color rojo para los enlaces */
    background-color: #f8f9fa; /* Fondo claro para los botones */
    border: 1px solid #dee2e6;
    border-radius: 4px;
    text-decoration: none;
}

    .pagination-container a:hover {
        background-color: #6A0000; /* Fondo rojo oscuro al pasar el mouse */
        color: white; /* Color blanco para el texto en hover */
    }

.pagination-container .selected {
    background-color: #6A0000; /* Fondo rojo oscuro para el botón seleccionado */
    color: white; /* Color blanco para el texto */
    font-weight: bold;
    border-color: #6A0000; /* Borde rojo oscuro */
}

.centered-row td {
    text-align: center; /* Centra el contenido de cada celda */
    vertical-align: middle; /* Centra verticalmente */
}

.text-red {
    color: #8B0000 !important;
    background-color: #8B0000;
}
