/* customStyles.css */

/* Estilo para el ícono de usuario en la barra de navegación */
.user-icon {
    background-color: #6f42c1;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

/* Contenedor de imagen para ajustar la proporción de las imágenes */
.image-container {
    height: 600px;
    overflow: hidden;
}

/* Ajuste de la imagen en la tarjeta para que ocupe todo el contenedor */
.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Margen inferior para el título de la sección */
h2.mb-4 {
    margin-bottom: 4rem;
}

/* Ajuste del selector de categoría */
.form-select {
    width: auto;
    display: inline-block;
}

/* Estilo para los títulos de las tarjetas */
.card-title {
    font-weight: bold;
}

/* Estilo para los botones seleccionados */
.btn.selected {
    background-color: #5a2e8a !important; /* Color de fondo morado oscuro */
    border-color: #5a2e8a !important; /* Color del borde morado oscuro */
    color: #ffffff !important; /* Texto en color blanco */
}

/* Espaciado inferior para separar las tarjetas al final de la página */
.container .row.g-4 {
    margin-bottom: 100px;
}

.sinopsis-box {
    background-color: #6f42c1; /* Fondo morado */
    color: #ffffff; /* Texto en blanco */
    padding: 10px 20px; /* Espaciado */
    font-weight: bold; /* Negrita */
    text-transform: uppercase; /* Mayúsculas */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center;
    display: inline-block;
    margin-bottom: 10px; /* Separación inferior */
}
