@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.body {
    font-family: "Space Grotesk", serif;
}

.user-icon {
    background-color: #6f42c1;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.fa-film {
    color: white;
}

.image-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*    aspect-ratio: 3 / 4;*/
    width: 100%;
    height: calc(100%+0px);
    display: block;
    padding-bottom: 133%;
}

.navBar-Peliculas {
    background-color: black !important;
    color: white;
}

.navBar-Expandido {
    color: white;
}

.navbar-nav .nav-link.navBar-Expandido {
    color: white;
    position: relative;
    text-decoration: none;
}

    .navbar-nav .nav-link.navBar-Expandido:hover {
        color: white;
    }

    .navbar-nav .nav-link.navBar-Expandido::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.4s ease;
    }

    .navbar-nav .nav-link.navBar-Expandido:hover::after {
        width: 100%;
    }

.espacio-PeliculasLabel {
    padding-top: 80px;
    border-bottom: 4px solid darkred;
    margin-bottom: 8px;
    font-weight: bold;
    font-family: "Space Grotesk", serif;
}

.container .row .border {
    background-color: white;
    border-color: #ccc;
}

.container .row strong {
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
}

.boton-Filtrar {
    background-color: darkred;
    border-color: white;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.25);
    border-radius: 45px;
    font-size: 17px;
    font-weight: 300;
    font-family: "Space Grotesk", serif;
}

.contenedor-Filtro {
    box-shadow: 2px 2px 7px black;
    font-family: "Space Grotesk", serif;
}

.contenedor-Peliculas {
    box-shadow: 1px 1px 3px black;
    font-family: "Space Grotesk", serif;
    transition: transform 0.3s ease;
}

.label-Peliculas {
    background-color: darkred;
    backdrop-filter: blur(20px);
    border-top: 1px solid white;
    color: white;
    font-weight: 400;
    padding: 3px;
}

.contenedor-Peliculas:hover {
    transform: scale(1.05);
}

.form-select:focus {
    border-color: darkred !important;
    box-shadow: 0 0 0 0.25rem rgba(139, 0, 0, 0.5) !important;
}

.form-select {
    background-position: calc(100% - 0.75em) calc(1em + 0.15em), calc(100% - 0.375em) calc(1em + 0.15em), calc(100% - 1.25em) 0.5em;
    background-size: 0.5em 0.5em, 0.5em 0.5em, 1em 1em;
    background-repeat: no-repeat;
    cursor: pointer;
}
